/* Estilo para telas grandes (PC) */
#container {
  display: flex;
  justify-content: space-between;
}

#esquerda,
#direita {
  width: 45%;
}

#botao {
  margin-left: 46.5%;
}

/* Estilo para telas pequenas (Celulares) */
@media screen and (max-width: 767px) {
  #container {
    flex-direction: column;
  }

  #esquerda,
  #direita {
    width: 100%;
    margin-bottom: 2%;
  }

  #botao {
    margin-left: 45%;
  }
}

/* Estilos comuns para ambos os tamanhos de tela */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
  color: #1e272e;
}

h2 {
  font-size: 1em;
  margin: 10px 0;
  color: #57606f;
}

h3 {
  font-size: 1em;
  margin-left: 1%;
  width: 97%;
  color: #57606f;
}

input {
  font-size: 1em;
  padding: 5px;
  margin-left: 1%;
  width: 97%;
  box-sizing: border-box;
  border: 1px solid #dcdde1;
  border-radius: 5px;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0.5% auto;
}

button:hover {
  background-color: #3e8e41;
}

#dica {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin: 2%;
  color: #2f3542;
}

#gasolina,
#alcool {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

#nome_gasolina,
#nome_alcool {
  font-size: 1.5em;
  margin: 1%;
  color: #57606f;
}

#quant_g,
#preco_g,
#suficiente_g,
#resta_g,
#quant_a,
#preco_a,
#suficiente_a,
#resta_a {
  font-size: 1em;
  margin: 1%;
  color: #2f3542;
}